<!-- content -->
<div class="container mt-5">
    <p class="title">Vé bán trước</p>
    <div class="swiper mySwiper">
        <div id="list-film-1" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>
<div class="divider mt-5"></div>

<div class="container mt-5">
    <p class="title">Phim đang chiếu</p>
    <div class="swiper mySwiper">
        <div id="list-film-2" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>
<div class="divider mt-5"></div>

<div class="container mt-5">
    <p class="title">Phim sắp chiếu</p>
    <div class="swiper mySwiper">
        <div id="list-film-3" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>

<div id="list-modal"></div>

<div class="mt-5 bg-black pb-5">
    <div id="member" class="container d-flex flex-column align-items-center">
        <img class="mt-5" src="https://www.bhdstar.vn/wp-content/uploads/2023/08/bhdstarmember.png" alt="">
        <div class="row mt-5">
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-16.png" alt="">
            </div>
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-17.png" alt="">
            </div>
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-18.png" alt="">
            </div>
        </div>
        <button id="sign-in" class="btn mt-2">ĐĂNG KÍ NGAY</button>
    </div>
</div>

<div class="mt-4">
    <div class="container mt-5">
        <p class="title">Khuyến mãi</p>
        <div class="swiper mySwiper-v2">
            <div class="swiper-wrapper">
                {{#each sale}}
                <div class="swiper-slide">
                    <div data-bs-toggle="modal" data-bs-target="#sale-{{this._id}}">
                        <img class="ratio ratio-16x9" src="{{this.src}}" alt="">
                        <p class="mt-3 sale-title text-start">{{this.title}}</p>
                        <p class="mt-1 text-start">Thời gian khuyến mãi: 26/8/2023 - 26/9/2023</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    </div>
</div>

<div class="mt-4"></div>
    <div class="container mt-5">
        <p class="title">Sự kiện</p>
        <div class="swiper mySwiper-v2">
            <div class="swiper-wrapper">
                {{#each voucher}}
                <div class="swiper-slide">
                    <div data-bs-toggle="modal" data-bs-target="#voucher-{{this._id}}">
                        <img class="ratio ratio-16x9" src="{{this.src}}" alt="">
                        <p class="mt-3 sale-title text-start">{{this.title}}</p>
                        <p class="mt-1 text-start">Thời gian sự kiện: 26/8/2023 - 26/9/2023</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    </div>
</div>

{{#each sale}}
<div class="modal fade" id="sale-{{this._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <div class="row film-info">
                    <div class="col col-4 d-flex flex-column align-items-center">
                        <img src="{{this.src}}" class="ratio ratio-16x9" alt="">
                    </div>
                    <div class="col col-8">
                        <p class="sale-title">{{this.title}}</p>
                        <p>{{this.time}}</p>
                        <p>{{this.note}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#each voucher}}
<div class="modal fade" id="voucher-{{this._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <div class="row film-info">
                    <div class="col col-4 d-flex flex-column align-items-center">
                        <img src="{{this.src}}" class="ratio ratio-16x9" alt="">
                    </div>
                    <div class="col col-8">
                        <p class="sale-title">{{this.title}}</p>
                        <p>{{this.time}}</p>
                        <p>{{this.note}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

<script type="module" src="/public/js/home.js"></script>