<div class="container">
    <h2>Chọn ghế cho phim: {{filmTitle}} tại rạp: {{theaterName}} vào ngày: {{date}}</h2>
    <div class="showtimes">
        {{#each showtimes}}
        <div class="showtime">
            <h3>Giờ chiếu: {{this.time}}</h3>
            <div class="room">
                <h4>Phòng: {{this.room.[0].room_name}}</h4>
                <div class="seats">
                    <h5>Danh sách ghế:</h5>
                    <ul>
                        {{#each this.room.[0].seats}}
                        <li>
                            Ghế: {{this.seat_number}} - Trạng thái: {{this.status}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
