<div class="container">
    <div style="display: flex; align-items: center;">
        <img style="margin-top: 10px;" src="https://www.bhdstar.vn/wp-content/uploads/2023/08/logo.png" height="60" width="60" alt="">
        <h2 style="margin-left: 20px; margin-top: 20px">Đặt vé</h2>
    </div>
    <h3 class="text-center mt-4" style="margin-bottom: 20px;">Chọn ngày và địa điểm</h3>
    <div class="row" id="list-show-time">
        {{#each films}}
            {{#each theaters}}
                <div class="showtime d-flex flex-column align-items-start mb-4">
                    <div class="d-flex flex-row justify-content-center gap-2 align-items-center mb-2">
                        <img src="{{this.src_theater}}" height="24" width="24" alt="">
                        <span>{{this.theaters_name}}</span>
                    </div>
                    <p class="mt-3">{{this.address}}</p>
                    <div class="d-flex flex-row" style="width: 100%;">
                        {{#each showdates}}
                        <div class="time d-flex flex-wrap col-3" style="width: calc(25% - 10px); margin: 5px;">
                                <div class="d-flex flex-column align-items-center" style="width:100%"> 
                                
                                <a href="/films/{{../../_id}}/theaters/{{../theater_id}}/dates/{{this.date}}/showtimes" class="time-value">{{this.date}}</a>
                                
                                <div class="gap-2 mt-1 d-flex flex-row justify-content-center align-items-center">
                                    <span class="badge bg-secondary">PHỤ ĐỀ</span>
                                    <span class="badge bg-success">2D</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
